player-connection-mode=Listen
player-connection-guid=1278772062
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=172.19.16.1
player-connection-ip=192.168.56.1
player-connection-ip=145.127.52.73
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=a2ca14801e434e7784f4851b69ebd3ec
