player-connection-mode=Listen
player-connection-guid=2877698174
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=192.168.0.101
player-connection-ip=172.19.16.1
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=ac0a5e4ca03b4ed8a4bea380e406920c
