player-connection-mode=Listen
player-connection-guid=3361521987
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=192.168.0.102
player-connection-ip=172.17.240.1
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=b51a5d3b87684602a42b0b5f0a6a0bfb
